*, html, *::after, *::before {
  box-sizing:border-box;  
  padding: 0px;
	margin: 0px;
  max-width:100%;
  
}

@font-face{
  font-family: "One Plus Sans";
  src: url("../fonts/OnePlusSans-Light.ttf");
}

body{
  font-family: "One Plus Sans", sans-serif
}

main{
  background-color:black;
}

a{
  text-decoration:none;
  color:white;
}

a:visited{
  text-decoration:none;
  color:white;
}

section:first-of-type > ul:first-of-type > li:first-of-type {
  background-image:url("../images/carrousel1_afbeelding1.jpeg");
  background-size:cover;
  height:50vh;
  background-position:95%;
}

section:first-of-type > ul:first-of-type > li:first-of-type > a:first-of-type{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  height:inherit;

}

section:first-of-type > ul:nth-of-type(2){
  display:flex;
}

section:first-of-type > ul:nth-of-type(3){
  display:flex;
}

main > ul:first-of-type{
  display:flex;
}

.hide{
  display:none;
}